
<% 
const data = "hogehoge";
%><!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJSページ</title>
    <link rel="stylesheet" href="../common/css/ejs.scss">
</head>
<body>
    EJS template
    <a href="../">TOPページに飛ぶ</a>
    <p>データの出力 <%- data %></p>
</body>
</html>
